<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"  content="禾順商旅位於台北，距離龍山寺和廣州街夜市僅 3 分鐘步行路程，設有庭園和全館免費 WiFi。飯店距離捷運龍山寺站步行 3 分鐘，與台北車站相隔僅 2 站，距離桃園國際機場則約 50 分鐘車程。所有客房均配有空調、有線電視、迷你吧和電熱水壺。私人衛浴內備有吹風機和免費盥洗用品。" />
    <link rel="icon" type="image/png" href="favicon.jpg" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    

    <title>禾順商旅</title>
    <style>
      
    </style>
  </head>
  <body>

<!-- A.上方Tool -->
    <div class="container100 fixed-top">

      <!-- 三語 -->
      <div class="container100" style="background-color: #333945;">
        <div class="container">

          <div class="language row">
            <div class="languageBt text-right col-sm ">
              <!-- href="javascript: void(0)" 不會如href="#"，使切換語言時，網頁的捲軸會移到最上面 -->
              <a class="bt" href="javascript: void(0)" target="" data-value='en'>E</a>
              <a class="bt" href="javascript: void(0)" target="" data-value='jp'>日</a>
              <a class="bt selected" href="javascript: void(0)" target="" data-value='tc'>中</a>
              <!-- <a class="bt" href="#" target="" data-value='en' v-on:click="languageF3">E</a>
              <a class="bt" href="#" target="" data-value='jp' v-on:click="languageF3">日</a>
              <a class="bt selected" href="#" target="" data-value='tc' v-on:click="languageF3">中</a> -->
            </div>
          </div>

        </div>
      </div>

      <!-- 選單 -->
      <div class="container100 menu">
        <div class="container" style="position: relative;">
              <nav class="navbar fontS_1-1 navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                  <!-- <img src="images/logo.jpg" alt=""> -->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <div class="mr-auto"></div>
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link navBt01" href="#">首頁 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navBt02" href="room.html">推薦房型</a>
                      <!-- <a class="nav-link navBt02" href="" onclick="nowLang('jp')">推薦房型</a> -->
                    </li>
                    <!-- 20191220隱藏
                    <li class="nav-item">
                      <a class="nav-link navBt04" target="view_window"  href="https://app-apac.thebookingbutton.com/properties/yourhoteldirect">訂房</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link navBt05" href="tourist.html">景點</a>
                    </li>
                  </ul>
                  <div class="tel_numberGroup">
                    <div class="tel_number d-none d-lg-block d-xl-block"></div>
                    <div class="porZ">
                      <i class="fas fa-phone"></i> +886 2 2308-1000
          
                      <span class="gmail">
                          <a href="mailto:rsvn@yourhotel.com.tw&#8203;"><i class="fa fa-envelope"></i></a>
                      </span>
                      &nbsp
                      <span>
                          <a href="https://www.facebook.com/yourhoteltaipei/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                      </span>
                      &nbsp
                      <span>
                          <a href="https://www.instagram.com/your_hotel_tw/" target="_blank"><i class="fab fa-instagram"></i></a>
                      </span>
                    </div>
                  </div>
                  
                </div>
                
              </nav>
        </div>
      </div>

    </div>

<!-- B.內容區 -->
    <div class="contain">

      <div class="container-fluid bgColor_444">

          <!-- Bootstrap輪播 -->
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <picture><!-- 當解析度大於993像素時，載入此圖
                --><source srcset="images/banner/size_l/banner01_l.jpg" media="(min-width: 1025px)"><!-- 當解析度大於578像素時，載入此圖
                --><source srcset="images/banner/size_1024/banner01_m.jpg" media="(min-width:741px)">
                  <img class="d-block w-100" title="daehwlfuduslfc" src="images/banner/size_740/banner01_s.jpg" alt="First slide 禾順商旅">
                </picture>
               <!--  <img class="d-block w-100" src="images/banner/banner01.jpg" alt="Second slide"> -->
              </div>
              <div class="carousel-item">
                <picture><!--
                --><source srcset="images/banner/size_l/banner02_l.jpg" media="(min-width: 1025px)"><!--
                --><source srcset="images/banner/size_1024/banner02_m.jpg" media="(min-width:741px)">
                  <img class="d-block w-100" title="daehwlfuduslfc" src="images/banner/size_740/banner02_s.jpg" alt="First slide 龍山寺">
                </picture>
              </div>
              <div class="carousel-item ">
                <picture><!--
                --><source srcset="images/banner/size_l/banner03_l.jpg" media="(min-width: 1025px)"><!--
                --><source srcset="images/banner/size_1024/banner03_m.jpg" media="(min-width:741px)">
                  <img class="d-block w-100" title="daehwlfuduslfc" src="images/banner/size_740/banner03_s.jpg" alt="First slide 禾順商旅">
                </picture>
              </div>
              <div class="carousel-item ">
                <picture><!--
                --><source srcset="images/banner/size_l/banner04_l.jpg" media="(min-width: 1025px)"><!--
                --><source srcset="images/banner/size_1024/banner04_m.jpg" media="(min-width:741px)">
                  <img class="d-block w-100" title="daehwlfuduslfc" src="images/banner/size_740/banner04_s.jpg" alt="First slide 禾順商旅早餐">
                </picture>
              </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


          <!-- 跑馬燈 http://abgne.tw/jquery/apply-jquery/jquery-up-and-down-vertical-ad.html -->
          <!-- <div class="d-none d-sm-block container">
            <div class="newsTxt fontS_1-2 row">
              <div class="" style="flex:100px;flex-grow:0;">
                動態消息 |
              </div>
              <div class="slidetxt" style="flex:1;">
                <ul class="slidetxtUl">
                  <li><a href="#">嗶一下，美食小吃帶著走，10/10起艋舺夜市將全面啟用悠遊卡付費服務，吃美食不必再掏零錢哦！</a></li>
                  <li><a href="#">10/10（三）晚上8點舉辦「艋舺夜市嗶悠遊」記者會，歡迎大家來逗熱鬧。</a></li>
                  <li><a href="#">10/10（三）～10/21（日）止艋舺夜市推出滿額折價優惠，大家卡緊相揪迺夜市。</a></li>
                  <li><a href="#">挑高套房優惠中，立即線上訂房！</a></li>
                  <li><a href="#">禾順商旅融合現代和精緻的裝潢元素。位於西門町購物區。所有客房都提供免費 WiFi</a></li>
                  <li><a href="#">8分鐘車程可到達西門町紅樓，距離捷運龍山寺站步行約3分鐘路程。</a></li>
                </ul>
              </div>
            </div>
          </div> -->

      </div>

      <!-- 文字說明0 -->
	  <!-- <h4 id="vs_in" class="text-center">
      <br/> 
	  
	  
	  <img src="images.png" >
            <a href="http://60.251.192.115/coupon/coupon.php?action=register_user" target="view_window" font_color="red">
				<font color="#FF0000"> 我要申請國旅暖冬遊住宿優惠活動 ! </font></a>
			<br/>
            <br/>
	  </h4> -->
	 
	  
      <!-- 文字說明1 -->
      <div class="bgFixed_w">
        <div class="container paT">
          <div class="width_design">
            <h4 class="text-center fontF_S txtTitle">About Us</h4>
            <p id="indexAbout" class="text-center" v-if='language === "C"' v-html='contentHtml[current]'><!-- v-if='language' -->
            github 融合老艋舺歷史風華的傳承記憶 與 西門町的新潮創新!<br>禾順商旅， 緊鄰聞名遐邇的龍山寺、華西街夜市 及年輕人最喜愛的西門商圈。<br>匯集各種市集巷弄美食與屢獲佳評的台灣道地小吃，<br>體驗歷史文化與新潮現代的激盪創意！
            </p>
          </div>
        </div>
      </div>

      <!-- 視差捲動-1 -->
      <div class="bgFixed01">
        <div class="flexBox">
          <div class="blackBG">
            <img src="images/txt1_1.png" class="xlShow" width='100%' alt="">
            <img src="images/txt1_2.png" class="xlHide" width='100%' alt="">
          </div>
        </div>
      </div>

      <!-- 文字說明2 -->
      <div class="bgFixed_w">
        <div class="container paT">
          <div class="width_design">
            <h4 class="text-center fontF_S txtTitle" style="margin-bottom: 48px;">Welcome to Hotel</h4>
            <ul class="icon">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <p id="indexWelcome" class="text-center">
              全新品牌飯店，提供商務、親子旅遊、家庭等多元住宿選擇，<br>
              提供歐式自助早餐，設有庭園和全館免費WiFi。 <br>飯店距離龍山寺捷運站步行3分鐘，與西門町相隔僅 1 站，<br>與台北車站相隔 2 站，距離桃園國際機場則約50 分鐘車程。 <br>
              所有客房均配有空調、有線電視、迷你吧和電熱水壺。<br>
              私人衛浴內備有吹風機和免費盥洗用品。<br>
              部分客房更可欣賞城市美景。
            </p>
          </div>
        </div>
      </div>

      <!-- 視差捲動-2 -->
      <div class="bgFixed02">
        <div class="flexBox">
          <div class="blackBG">
            <img src="images/txt2_1.png" class="xlShow" width='100%' alt="">
            <img src="images/txt2_2.png" class="xlHide" width='100%' alt="">
          </div>
        </div>
      </div>

<!-- 房型介紹 -->
      <div class="bgFixed_w">
        <div class="container paT">
          <div class="width_design">
            <div class="row">

              <div class="col-xs-12 col-md-6 col-lg-4 ">
                <div class="card cardHotel" style="">
                  <img class="card-img-top" src="images/index_room/1_MG_0183.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="cardH_T">豪華雙人房</span><br>
					  
                    </p>
                    <!-- 20191220隱藏
                    <div>
                      <a href="https://app-apac.thebookingbutton.com/properties/yourhoteldirect" target="_blank" class="btn btn-outline-info">Book</a>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="boxOut_2page col-xs-12 col-md-6 col-lg-4">
                  <div class="boxIn_2page">
                      <!-- 正面 -->
                      <div class="page_front card cardHotel">
                        <img class="card-img-top" src="images/index_room/2_MG_0260.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">
                            <span class="cardH_T">雅緻雙人房(無窗)</span><br>
                            
                          </p>
                          <!-- 20191220隱藏
                          <div>
                            <a href="https://app-apac.thebookingbutton.com/properties/yourhoteldirect" target="_blank" class="btn btn-outline-info">Book</a>
                          </div> -->
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4 ">
                <div class="card cardHotel" style="">
                  <img class="card-img-top" src="images/index_room/3_MG_0196.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="cardH_T">雍容雙人房(有窗)</span><br>
                      
                    </p>
                    <!-- 20191220隱藏
                    <div>
                      <a href="https://app-apac.thebookingbutton.com/properties/yourhoteldirect" target="_blank" class="btn btn-outline-info">Book</a>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4 ">
                <div class="card cardHotel" style="">
                  <img class="card-img-top" src="images/index_room/4_MG_0311.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="cardH_T">挑高雙人房</span><br>
                      
                    </p>
                    <!-- 20191220隱藏
                    <div>
                      <a href="https://app-apac.thebookingbutton.com/properties/yourhoteldirect" target="_blank" class="btn btn-outline-info">Book</a>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4 ">
                <div class="card cardHotel" style="">
                  <img class="card-img-top" src="images/index_room/5_MG_0228.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="cardH_T">尊爵三人房</span><br>
                      
                    </p>
                    <!-- 20191220隱藏
                    <div>
                      <a href="https://app-apac.thebookingbutton.com/properties/yourhoteldirect" target="_blank" class="btn btn-outline-info">Book</a>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4 ">
                <div class="card cardHotel" style="">
                  <img class="card-img-top" src="images/index_room/6_MG_0166.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="cardH_T">尊爵四人房</span><br>
                      
                    </p>
                    <!-- 20191220隱藏
                    <div>
                      <a href="https://app-apac.thebookingbutton.com/properties/yourhoteldirect" target="_blank" class="btn btn-outline-info">Book</a>
                    </div> -->
                  </div>
                </div>
              </div>

              <!-- 停車場按鈕 -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#carMap" style="background-color: #FF5E5F;border-color: #FF5E5F;margin-left:15px;" >停車資訊</button>
              
            </div>
          </div>
        </div>
      </div>

<!-- 地圖 -->
      <div class="map container-fluid">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.9182910424224!2d121.49511095169649!3d25.036846844250217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9a954b50e3b%3A0x86b23f11cb9721a7!2zWU9VUiBob3RlbCDnpr7poIbllYbml4U!5e0!3m2!1szh-TW!2stw!4v1522217871947" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <footer>
          <div class="container">

            <!-- 手機以上的footer -->
            <div class="d-none d-sm-flex row justify-content-center">
              <div class="col-auto">
                    <span class="footer_address">108 台北市萬華區廣州街247號</span>
              </div>
              <div class="col-auto">
                <span><i class="fas fa-phone-volume"></i> +886-2-2308-1000 　<i class="fas fa-fax"></i> +886-2-2308-5111</span>
                <span class="gmail">
                      <a class="a_circle" href="mailto:rsvn@yourhotel.com.tw&#8203;"><i class="fa fa-envelope"></i></a>
                </span>
                <span>
                      <a class="a_circle" href="https://www.facebook.com/yourhoteltaipei/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </span>
				        <span>
                      <a class="a_circle" href="https://www.instagram.com/your_hotel_tw/" target="_blank"><i class="fab fa-instagram"></i></a>
                </span>
              </div>
              <div class="w-100"></div>
              <div class="col-auto white_05">
                    Copyright © 2019 yourhotel.com.tw All Rights Reserved.    
              </div>
            </div>

            <!-- 手機以下的footer -->
            <div class="d-sm-none row">
              <div class="col-xs-12">
                <span class="gmail">
                      <a class="a_circle" href="mailto:rsvn@yourhotel.com.tw&#8203;"><i class="fa fa-envelope"></i></a>
                </span>
                <span>
                      <a class="a_circle" href="https://www.facebook.com/pages/Hotel-Banka-班客/403636323080344" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </span>
                <span>
                      <a class="a_circle" href="https://www.instagram.com/your_hotel_tw/" target="_blank"><i class="fab fa-instagram"></i></a>
                </span>
              </div>
              <div class="col-xs-12">
                    <span class="footer_address">108 台北市萬華區廣州街247號</span>
              </div>
              <div class="col-xs-12">
                <span><i class="fas fa-phone-volume"></i> 02-2308-1000 　<i class="fas fa-fax"></i> 02-2308-5111</span>
              </div>
            </div>

          </div>
      </footer>
    </div>

    <!-- carMap彈出視窗 Modal -->
    <div class="modal fade" id="carMap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="exampleModalLabel">
              停車場地圖<br>
              
			  <!--
			  <span class="redSTxt">停車場限停20台車,請依現場燈號確認停放情形，謝謝您。</span>
			  -->
			  <span class="normalSTxt">
			  <br>(1)本館B2停車場為機械式平面停車位(限高190公分 限重2000公斤)
			  <br>(2)請由桂林路轉梧州街，即可抵達本館側邊停車場入口
			  <br>(3)車位數量有限，採先到先停，額滿為止
			  </span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="img-fluid" src="images/map.jpg" alt="">
          </div>
          
        </div>
      </div>
    </div>
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <!-- vue.js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> -->

    <script src="js/translation.js"></script>
    <script src="js/slidetxt.js"></script>

    <!-- 捲動動畫 -->
    <link rel="stylesheet" href="css/animate.css">
    <script src="http://cdn.dowebok.com/131/js/wow.min.js"></script>
    <script type="text/javascript">
      if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        new WOW().init();
      };
    </script>


    <!-- JQ_隨裝置載入不同大小的圖片 https://www.minwt.com/webdesign-dev/js/12386.html -->
    <script src="js/jq_picturefill/picturefill.min.js"></script>
    <script>
      // $(function(){
      //   document.createElement( "picture" );
      // })
    </script>

    <script>
      // 三語言
      $(function(){

        //判斷網址，來判斷是否更改網頁的呈現語言(執行對應的js)
        var langItem=window.location.search.split("lang=")[1];
        // console.log(langItem);

        //日文時更換font字體
        if(langItem=='jp'){
          $('body').addClass('jsFont');
        }else{
          $('body').removeClass('jsFont');
        }

        //接下来就可以针对得到的参数值进行判断和下一步的操作了
        if(langItem == 'en'){
          // 英文
          $('.languageBt a').eq(0).click();
          // $('.languageBt a').eq(0).addClass('selected').siblings().removeClass('selected');
          translate(langItem);
        }else if(langItem == 'jp' ){
          // 日文
          $('.languageBt a').eq(1).click();
          // $('.languageBt a').eq(1).addClass('selected').siblings().removeClass('selected');
          translate(langItem);
        }else{
          // 中文
          $('.languageBt a').eq(2).click();
          // $('.languageBt a').eq(2).addClass('selected').siblings().removeClass('selected');
        }

      });
    </script>

    <script src="js/bookstrop_control.js"></script>
  </body>
</html>